* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f4f8;
    padding: 20px;
    color: #333;
    align-items: center;
    justify-content: center;
  }
  
  h1,h2{
    color: #2a5d9f;
    margin-bottom: 20px;
    text-align:center
  }
  button {
    background-color: #2a5d9f;
    color: white;
    cursor: pointer;
    border: none;
  }
  button:hover {
    background-color: #1e4c85;
  }
/*Inicio Estilização login*/
  .container{
    max-width: 600px;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  input[type="email"],
  input[type="password"],
  button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  button {
    background-color: #2a5d9f;
    color: white;
    cursor: pointer;
    border: none;
  }
  button:hover {
    background-color: #1e4c85;
  }
/*Fim Estilização login*/
/*Inicio Estilização logotipo*/
.user{
  font-size: 20px;
}
/* Fim Estilização logotipo*/
/*Inicio Estilização do dashboard*/ 
  .dashboard {
    max-width: 800px;
    margin-left: 20%;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    
  }
  
  .card {
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    flex: 1;
    padding: 25px;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: block;
    border:1px solid black
  }
  .card p{
    font-size: 32px;
    font-weight: bold;
  }
  
  .card small {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #555;
  }

  .vermelho {
    color: red;
  }
  
  .verde {
    color: green;
  }
  
  .laranja {
    color: orange;
  }
  
  .nav {
    margin-top: 30px;
  }
  
  .nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #2a5d9f;
    font-weight: bold;
    cursor: pointer;
  }
  
  .nav a:hover {
    text-decoration: underline;
  }
 
/* Fim Estilização do dashboard*/

/*Inicio Estilização historico*/
.historico {
  max-width: 600px;
  margin-left: 54%;
  margin-top:-19.5%;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
  }
  
  th, td {
    padding: 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  .sem-registro {
    text-align: center;
    font-style: italic;
    color: #888;
    padding: 10px;
}

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
  
  .modal-conteudo {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
    max-height: 70%;
    overflow-y: auto;
  }
  
  .fechar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .fechar:hover {
    color: red;
  }
  .btnClose {
    color:white;
    background-color: rgb(129, 9, 9);
  }
  .btnClose:hover{
    background-color: rgb(112, 22, 22);
  }
/*Fim Estilização historico*/

/* Inicio Estilização do controle*/
.controle{
  max-width: 800px;
  margin-left:20%;
  margin-top:2%;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.on{
    background-color:rgb(44, 111, 64);
    color: white;
    cursor: pointer;
    border: none;
    width: 46%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-left:28%
  }
  .on:hover{
    background-color:rgb(22, 90, 42);
  }
  .off{
    background-color:rgb(161, 15, 15);
    color: white;
    cursor: pointer;
    border: none;
    width: 46%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    display:block;
    margin-left:28%
  }
  .off:hover{
    background-color:rgb(124, 30, 30);
  }

  .switch-container {
    display: flex;
    margin-top: 20px;
    margin-left: 38%
    }

    .switch-label {
    font-size: 18px;
    margin-right: 10px;
    }

    .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 28px;
    }

    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }

    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    transition: 0.4s;
    }

    .slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
    }
    
    input:checked + .slider {
    background-color: #1b436c;
    }

    input:checked + .slider::before {
    transform: translateX(22px);
    }
/* Fim Estilização do controle*/


